DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=merge
DB_CONNECTION_LIMIT=5
MATERIAL_API_BASE_URL=http://192.168.2.27:1337
MATERIAL_API_TOKEN=replace_with_frappe_token
MATERIAL_SYNC_PAGE_SIZE=100
MATERIAL_SYNC_TIMEOUT_MS=30000
FRAPPE_DEMAND_API_BASE_URL=http://192.168.2.27:1337
# Defaults to MATERIAL_API_TOKEN when not set.
FRAPPE_DEMAND_API_TOKEN=
FRAPPE_DEMAND_SYNC_PAGE_SIZE=200
FRAPPE_DEMAND_SYNC_TIMEOUT_MS=30000
FRAPPE_DEMAND_ELIGIBLE_STATUS=Committed
FRAPPE_DEMAND_REQUEST_PREFIX=FRAPPE-
OPERATION_LOG_RETENTION_DAYS=365
